/* editor */

.diary-editor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.diary-editor input,
textarea {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.diary-editor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.diary-editor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* list  */

.diary-list {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.diary-list h2 {
  text-align: center;
}

/* item */

.diary-item {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.diary-item span {
  margin-right: 10px;
}

.diary-item .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.diary-item .date {
  color: gray;
}

.diary-item .content {
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
}

.diary-item textarea {
  padding: 10px;
}
