.diary-editor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.diary-editor input,
textarea {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.diary-editor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.diary-editor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
